{% extends 'layout.html' %}
{% block content %}
{% if current_user.role == 'wanner' %}
	<a href="/products/create" class="btn btn-success mb-4 mt-3">Crear un nuevo producto</a>
{% endif %}

<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for (product, category) in products_with_category %}
            <div class="col mb-4">
                <div class="card h-100">
                    <!-- Product image-->
                    <img src="/static/products/{{ product.photo }}" alt="{{ product.title }}" class="card-img-top">
                    <!-- Product details-->
                    <div class="card-body">
                        <h5 class="card-title fw-bolder">{{ product.title }}</h5>
                        <p class="card-text">{{ product.price }}</p>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer bg-light">
                        <div class="text-center">
                            <a class="btn btn-outline-dark" href="/products/read/{{ product.id }}">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
